/* ====================
# COMPONENTS: BUTTONS
==================== */
a,
button {
  cursor: pointer;
  outline: none;
  transition-property: color, background-color, border, box-shadow;
  transition-duration: .4s;
  transition-timing-function: linear;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  width: 100%;
  background-color: $red;
  color: $primary;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  border-radius: 30px;
  border: 0;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: .5;
  }
}

.sticky-btn {
  display: none;
}

@media screen and (max-width: 991px) {
  .sticky-btn {
    display: none;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    z-index: 99;
    background-color: $red;
    color: $primary;
    padding: 15px 0;
    margin: 0 auto;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;

    &.sticky-up,
    &.sticky {
      display: block;
      position: fixed;
    }
  }
}

.create-account-button {
  background-color: $primary;
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}

.button-trading {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  width: 100%;
  margin: 30px auto;
  background: linear-gradient(90deg, #E3B948 0%, #FDE198 100%);
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  border-radius: 8px;
  border: 0;
  transition: all 0.2s ease-in;

  &:hover {
    background: linear-gradient(180deg, #E3B948 0%, #FDE198 100%);
    ;
  }
}

#reg-form-btn {
  border-radius: 4px;
  width: 100%;
  background-color: $gold;
  color: $black;
  border: 1px solid $gold;
  font-size: 18px;
  padding: 10px 28px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    opacity: .5;
  }
}