.interest-form {
  margin-top: 30px;

  .input-wrapper {
    position: relative;
    margin-bottom: 20px;

    svg {
      position: absolute;
      right: 15px;
      top: 10px;
      width: 17px;

      path {
        fill: darken($white, 30%);
      }
    }
  }

  ::placeholder {
    color: darken($white, 30%);
  }

  input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid darken($white, 30%);
    background-color: transparent;
    padding: 10px 15px;
    outline: none;
    color: darken($white, 30%);
  }

  .error-msg {
    color: $red;
    text-align: left;
  }

  .iti {
    width: 100%;
  }

  .iti__country {
    color: $black;
  }

  .custom-checkbox-label {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    margin-bottom: 15px;
    color: inherit;
    padding-left: 45px;
    font-size: 16px;
    margin-top: 30px;

    a {
      color: inherit;
      text-decoration: underline;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 2px solid $gold;
      box-sizing: border-box;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid $gold;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.reg-form {
  &-wrapper {
    box-sizing: border-box;
    padding: 35px 30px;
    display: block;
    background-color: $white;
    box-shadow: -1px 5px 23px rgba($black, .1);
  }

  &-title {
    color: lighten($black, 13%);
  }
	.reg-error-msg {
		color: $red;
		font-size: 12px;
		margin-top: 10px;
	}
  .reg-input-field {
    width: 100%;
    font-size: 16px;
    color: $gray;
    line-height: 22px;
    outline: none;
    padding-bottom: 11px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darken($white, 13%);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .reg-input-wrapper,
	.reg-checkbox-label {
		margin-top: 30px;
	}

	.reg-input-wrapper {
		position: relative;
	}

  .iti--allow-dropdown .iti__flag-container,
	.iti--separate-dial-code .iti__flag-container {
		bottom: 8px;
	}

	.iti--separate-dial-code .iti__selected-flag {
		background-color: transparent;
	}

	.iti.iti--allow-dropdown {
		width: 100%;
	}

	.iti__country-list {
		max-height: 150px;
	}

  input[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.reg-checkbox-label {
		display: block;
		position: relative;
		padding-left: 34px;
		margin: 20px 0;
		cursor: pointer;
		text-align: left;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover input~.reg-checkmark {
			background-color: transparent;
		}

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			top: 5px;
			left: 0;
			height: 18px;
			width: 18px;

			&:checked~.reg-checkmark {
				background-color: $gold;
				border: none;

				&:after {
					display: block;
				}
			}
		}
	}

	.reg-checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 18px;
		width: 18px;
		background-color: transparent;
		border: 1px solid $gold;
		border-radius: 4px;

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 7px;
			top: 3px;
			width: 5px;
			height: 10px;
			border: solid $white;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
