/* ====================
# FONTS
==================== */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin font-face($font-family, $file-name, $file-path, $weight, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: url('#{$file-path}.eot');
		src: local('#{$file-name}'),
		url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$file-path}.woff') format('woff'),
		url('#{$file-path}.ttf') format('truetype');
	}
}
$f_path: '../fonts/';
$f_family: 'PTSans';
$f_family2: 'BigShouldersText';

@include font-face($f_family, $f_family + '-Regular', $f_path + $f_family + '-Regular', 400); 
@include font-face($f_family, $f_family + '-Bold', $f_path + $f_family + '-Bold', 700); 

@include font-face($f_family2, $f_family2 + '-Regular', $f_path + $f_family2 + '-Regular', 400); 
@include font-face($f_family2, $f_family2 + '-Bold', $f_path + $f_family2 + '-Bold', 700); 
