/* ====================
BASE: GENERAL
==================== */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;

  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

body {
  background-color: $primary;
}

.reversed {
  @media screen and (max-width: 991px) {
    flex-direction: column-reverse;
  }
}

.iti--container {
  z-index: 1000000002;
}

.iti-mobile .iti--container {
  z-index: 1000000003;
}