/* ====================
# BASE: TYPOGRAPHY
==================== */

html,
body {
  font-family: $f_family;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;

  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.non-regular-txt {
  font-family: $f_family2;
  color: $red;
}

.hero {
  .non-regular-txt {
    font-size: 40px;

    @media screen and (max-width: 991px) {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.main-title {
  font-size: 72px;
  font-weight: 700;

  @media screen and (max-width: 991px) {
    font-size: 32px;
  }
}


.big-title {
  font-size: 44px;
  font-weight: 700;
  color: $gray;

  @media screen and (max-width: 991px) {
    font-size: 24px;
  }
}

.access {
  &-card {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
  }

  .big-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;

    @media screen and (max-width: 991px) {
      font-size: 24px;
    }
  }
}

.small-title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;

  @media screen and (max-width: 991px) {
    font-size: 24px;
  }
}

.gold {
  color: $gold;
}

.section-head {
  text-align: center;
  margin-bottom: 50px;

  .section-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;

    &:after {
      content: " ";
      display: block;
      width: 56px;
      height: 3px;
      background-color: $gold;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
    }

    @media screen and (max-width: 991px) {
      font-size: 18px;
    }
  }
}

.near-form-text {
  font-size: 18px;

  @media screen and (max-width: 991px) {
    font-size: 24px;
  }
}

.calculation {
  &-block {
    &-title {
      font-size: 32px;
      font-weight: 700;
    }

    &-subtitle {
      font-size: 18px;
    }
  }

  &-box {
    font-family: BigShouldersText;
    font-style: normal;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .potential-payout {
    font-size: 64px;
    font-weight: 700;

    &-title {
      font-size: 28px;
      font-weight: 700;
    }
  }

  label,
  .minmax,
  .value {
    font-size: 20px;
    font-weight: 700;
  }

  @media screen and (max-width:1439px) {
    .potential-payout {
      font-size: 40px;

      &-title {
        font-size: 20px;
      }
    }

    label,
    .minmax,
    .value {
      font-size: 16px;
    }
  }

  @media screen and (max-width:1199px) {
    &-block-title {
      font-size: 28px;
    }

    .potential-payout {
      font-size: 32px;

      &-title {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width:767px) {

    label,
    .value {
      font-size: 14px;
    }

    .minmax {
      font-size: 12px;
    }
  }

  @media screen and (max-width:575px) {
    &-block {
      &-title {
        font-size: 22px;
      }

      &-subtitle {
        font-size: 16px;
      }
    }
  }
}

.reg-window {
  .reg-list-item-txt {
    font-size: 18px;
  }
  .reg-left-title {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
  }
  .reg-form-title {
    font-size: 22px;
    letter-spacing: -0.5px;
    font-weight: 300;
    line-height: 1.5;
  }
}