.site-footer {
  background-color: #131620;
  border-top: 8px solid $gold;
  padding: 40px 0;
  overflow-x: hidden;
  &-top {
    padding-bottom: 75px;
    border-bottom: 1px solid darken($white, 50%);
  }
  &-bottom {
    padding: 60px 0 40px;
    font-size: 12px;
    color: darken($white, 50%);
    a {
      color: $gold;
    }
  }
  h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      margin-bottom: 10px;
    }
    a {
      color: darken($white, 50%);
      text-transform: uppercase;
      font-size: 12px;
      &:hover {
        color: $white;
      }
    }
  }
  .app {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    img {
      flex: 0 0 50%;
      &:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    a {
      svg {
        width: 20px;
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    text-align: center;
    .app {
      justify-content: center;
      img {
        margin: 5px;
        flex: 0 0 auto;
        &:not(:last-child) {
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
    .social {
      justify-content: center;
    }
    .site-footer-menu {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 575px) {
    text-align: left;
    h3 {
      font-size: 18px;
    }
    .site-footer-menu {
      margin-bottom: 15px;
      h3 {
        font-size: 18px;
        margin-bottom: 0;
        position: relative;
        border-bottom: 1px solid darken($white, 50%);
        padding: 15px 0;
        position: relative;
        &:after {
          content: "›";
          font-size: 30px;
          color: darken($white, 50%);
          position: absolute;
          transform: rotate(90deg);
          right: 0;
          top: 7px;
        }
      }
      ul {
        display: none;
        margin-top: 15px;
        margin-bottom: 30px;
        a {
          font-size: 16px;
          
        }
      }
    }
    &-top {
      padding-bottom: 0;
      border-bottom: 0;
    }
    &-bottom {
      padding-top: 0;
    }
    .col-lg-2 {
      order: 2;
    }
    .last {
      order: 1;
      text-align: center;
      margin-bottom: 50px;
      .social {
        a {
          svg {
            width: 30px;
          }
        }
      }
    }
  }
}
