.site-header {
  padding: 80px 0 30px;
  position: absolute;
  width: 100%;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    max-width: 270px;
    width: 100%;
    height: 36px;
  }
  
  @media screen and (max-width: 991px) {
    padding: 20px 0;
    &-logo {
      max-width: 150px;
      width: 100%;
      margin: 0 auto;
    }
  }
}