.thankyou {
  padding: 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  &-page {
    background-color: $gray;
    position: relative;
  
    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      width: 60%;
      height: 100%;
      background-image: url(../img/thankyou.jpg);
      background-position: left center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
  &-left,
  &-right {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
  }
  &-right {
    .site-header-logo {
      display: none;
    }
  }
  &-content {
    .site-header-logo {
      margin: 0 auto;
      max-width: 220px;
      height: auto;
      margin-bottom: 125px;
    }
    p {
      font-size: 16px;
      color: $white;
    }
    .big-title {
      color: $white;
    }
    .small-title {
      margin-top: 50px;
    }
    ul {
      margin: 30px 0;
      padding: 0;
      list-style-type: none;
      text-align: left;
      li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 25px;
        color: $white;
        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .row {
      flex-direction: column-reverse;
    }
    &-left {
      .site-header-logo {
        display: none;
      }
    }
    &-right {
      .site-header-logo {
        display: block;
        margin-bottom: 50px;
      }
    }
  }
}
