.access {
  color: $black;
  overflow-x: hidden;

  &-lottie {
    display: none;
  }

  &-cards {
    margin: 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
  }

  &-card {
    padding: 45px;
    flex: 0 0 calc(33.33% - 30px);
    background-color: rgba($black, .03);
    box-shadow: 4px 4px 20px rgba($black, .15);
    &-image {
      width: 100%;
      svg {
        width: 100%;
        max-width: 124px;
        display: block;
        margin: 0 auto 30px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    text-align: center;
    &-lottie {
      display: block;
      margin-bottom: 50px;
    }
    &-card {
      flex: 0 0 100%;
    }
  }
  @media screen and (max-width: 575px) {
    &-block {
      .big-title {
        span {
          display: block;
        }
      }
    }
  }
}