.advantages {
  color: $black;
  overflow-x: hidden;

  ul {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 25px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .button-trading {
    margin: 30px 0;
  }

  @media screen and (max-width: 991px) {
    text-align: center;
    &-image {
      margin-bottom: 50px;
    }
    .button-trading {
      margin: 30px auto 0 auto; 
    }
  }
}
