.calculation {
  color: $black;
  overflow-x: hidden;

  &-block {
    padding: 28px 22px;
    box-shadow: 4px 4px 20px rgba($black, .15);

    &-title {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .non-regular-txt,
  .big-title {
    margin-bottom: 36px;
  }

  .keys {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }

  .key {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;

    svg {
      position: absolute;
      left: 0;
      top: 12px;
    }
  }

  .btn {
    margin: 24px auto 0;
  }


  &-box {
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    margin-top: 28px;

    .potential-payout {
      color: $orange;
      margin-bottom: 5px;
    }

    .potential-payout-title {
      color: #9a97b2;
      margin-bottom: 36px;
    }

    .line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 32px;
    }

    label {
      color: $red;
      width: auto;
      display: inline-block;
    }

    .minmax {
      color: #9a97b2;
    }

    .value {
      float: right;
      text-align: right;
      color: $white;
      background: $orange;
      padding: 8px 12px;
      border-radius: 5px;
      min-width: 60px;
    }

    input {
      padding: 0;
      height: auto;
      margin: 13px 0 !important;
    }

    input[type=range]:focus {
      outline: 0;
    }

    input[type=range] {
      appearance: none;
      background: darken($white, 5%);
      border-radius: 9px;
      height: 22px;
      width: 100%;
      border: 1px solid darken($white, 5%);
      overflow: hidden;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $white;
      border: 7px solid $red;
      z-index: 2;
      cursor: pointer;
      box-shadow: -680px 0 0 670px $orange;
    }

    @media screen and (max-width:1439px) {
      .potential-payout-title {
        margin-bottom: 25px;
      }

      .line {
        margin-bottom: 25px;
      }

      input {
        margin: 10px 0;
      }

      input[type=range] {
        height: 16px;
      }

      input[type=range]::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
        border: 5px solid $red;
      }
    }

    @media screen and (max-width:1199px) {
      .potential-payout-title {
        margin-bottom: 15px;
      }
    }

    @media screen and (max-width:767px) {
      input {
        margin: 5px 0;
      }

      .value,
      label {
        margin-bottom: 0;
      }
    }
  }

}