.hero {
  background-image: linear-gradient(90deg, rgba($black, .8) 44%, rgba($black, 0) 100%), url('../img/tesla-bg.jpg');
  background-size: cover;
  background-position: center bottom;
  padding-top: 180px;
  color: $primary;
  overflow-x: hidden;
  &-lottie {
    align-self: flex-start;
  }
  &-form {
    font-size: 18px;
    .input-wrapper { 
      position: relative;
      max-width: 370px;
      width: 100%;
      margin-bottom: 20px;
      .eyeIcon {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 5px;
        top: 5px;
        outline: none;
        border: none;
        background-color: transparent;
        svg {
          width: 17px;
          height: 17px;
          path {
            fill: $primary;
          }
        }
      }
    }
    ::placeholder {
      color: $primary;
      opacity: .5;
    }
    input {
      display: block;
      border: 0;
      border: 1px solid $primary;
      border-radius: 30px;
      width: 100%;
      background-color: rgba($black, .5);
      padding: 10px 20px;
      outline: none;
      color: $primary;
    }
    .error-msg {
      color: $red; 
      text-align: center;
    }
  
    .iti {
      width: 100%;
    }
  
    .iti__country {
      color: $black; 
    }
  
    .custom-checkbox-label {
      display: flex;
      align-items: center;
      position: relative;
      text-align: left;
      margin-bottom: 15px;
      color: $primary;
      padding-left: 30px;
      font-size: 18px;
      margin-top: 30px;
      a { 
        color: inherit;
        text-decoration: underline;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
  
      .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid $primary;
        box-sizing: border-box;
      }
  
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid $primary;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
  .non-regular-txt {
    margin: 40px 0;
  }

  @media screen and (max-width: 991px) {
    background-image: linear-gradient(0deg, rgba($black, .8) 30%, rgba($black, 0) 100%), url('../img/tesla-bg.jpg');
    padding-top: 70px;
    text-align: center;
    &-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      .custom-checkbox-label {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
    .non-regular-txt {
      margin: 20px 0;
      text-shadow: 4px 4px 10px rgba($black, .25);
    }
    &-lottie {
      display: none;
    }
  }
}