/* ====================
# BASE: FONTS
==================== */

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ====================
# BASE: GENERAL
==================== */

.reg-window {
	* {
		font-family: inherit;
	}

	h2,
	h3,
	p {
		margin: 0;
		padding: 0;
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
	}

	a,
	button {
		cursor: pointer;
		outline: none;
		transition-property: color, background-color, border, box-shadow;
		transition-duration: .4s;
		transition-timing-function: linear;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}

/* ====================
# Global styles
==================== */

/* Register modal window */

.reg-window {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000001;
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: $white;

	&-close {
		font-size: 30px;
		color: $black;
		opacity: .5;
		font-weight: 700;
		border: none;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
	}
}

.show {
	display: block;
}

.hide {
	display: none;
}


/* Register modal window */

.reg-window {
	font-size: 18px;

	&-inner {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-header {
		padding: 20px 50px;

		&-logo {
			width: 160px;
			height: 45px;
		}
	}

	.d-flex.justify-content-center.align-items-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.d-flex.justify-content-between.align-items-center {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.reg-list-item {
		display: flex;
		align-items: center;
		justify-content: start;
		margin: 15px 0px;

		&-icon {
			max-width: 60px;
			width: 100%;
			margin-right: 30px;

			svg {
				height: 60px;
			}
		}

		&-txt {
			overflow-wrap: anywhere;
		}
	}

	.reg-gif-img {
		width: 75px;
	}

	.reg-left {
		color: $gray;

		&-title {
			padding-bottom: 30px;
		}

		&-bottom-text {
			margin-top: 30px;
			font-size: 16px;
			font-weight: 300;
		}
	}

	.reg-left-title,
	.reg-form-title {
		text-align: center;
	}

	@media screen and (max-width: 991px) {
		&-inner {
			all: unset;
		}

		.reg-left-bottom-text {
			padding-left: 0;
			text-align: center;
		}
	}

	@media screen and (max-width: 767px) {
		.reg-left {
			margin: 60px 0;
			order: 1;
		}
	}

	@media screen and (max-width: 575px) {
		&-header {
			padding: 20px;
		}

		.reg-right {
			padding: 40px 20px;
		}
	}
}