.smart-money {
  color: $black;
  overflow-x: hidden;

  &-image {
    padding: 60px;

    img {
      display: block;
      width: 100%;
    }
  }

  .non-regular-txt,
  .big-title {
    margin-bottom: 36px;
  }

  ul {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;

    li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 25px;

      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .btn {
    margin: 24px auto 0;
  }

  @media screen and (max-width: 991px) {
    &-image {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 575px) {
    &-image {
      padding: 20px;
    }
  }
}